<!-- <nav class="grid items-start gap-2">
  <ng-container *ngFor="let item of sidebarItems; let i = index;">
    <div class="text-4xl">
      <span
        class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
        <lucide-icon [name]="item.icon"
          class="md:lg:mr-2 h-4 w-4"></lucide-icon>

        <span class="capitalize">{{item.title}}</span>

        <lucide-icon
          [name]="item.icon ?  this.getIconData('chevronDown') :  this.getIconData('chevronRight')"
          (click)="toggleSubMenu(item)"
          class="ml-auto">
        </lucide-icon>

      </span>
    </div>

    <ng-container *ngIf="item.children && item.isExpanded">
      <a [routerLink]="item.path"
        class="text-4xl">
        <span
          class="group flex items-center rounded-md px-6 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent">

          <span class="capitalize">Gestionar {{item.path}}</span>
        </span>
      </a>
      <ul>
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.path"
            class="text-4xl">
            <span
              class="group flex items-center rounded-md px-6 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent">

              <span class="capitalize">{{child.title}}</span>
            </span>
          </a>
        </li>
      </ul>
    </ng-container>
  </ng-container>

  <div class="text-4xl" *ngIf="userLoginOn">
    <a
      (click)="logout()" routerLink="/inicio"
      class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
      <lucide-icon [name]="this.getIconData('logOut')"
        class="md:lg:mr-2 h-4 w-4"></lucide-icon>

      <span class="capitalize">  Cerrar Sesión</span>
    </a>
  </div>
  
</nav> -->

<!-- <div
  class="bg-[#263238] transition-all duration-500 ease-in-out fixed z-10 top-0 lg:w-[15rem] h-screen shadow-[0.063rem_0_1.25rem_0_#8690a3] sm:md:w-[5rem]"
  [ngClass]="{'lg:w-[15rem]': !collapsed, 'sm:md:w-[5rem]': collapsed}">

  <div
    class="list-none p-3 mt-5 mr-10 flex flex-col items-start h-screen-16 cursor-pointer">
    <div
      class="flex h-12 text-gray-100 no-underline transition-all duration-300 ease-in-out">
      <button
        class="w-full min-w-[3rem] rounded-[0.313rem] p-[0.313rem] text-2xl font-black cursor-pointer border-none sm:hidden md:block text-white"
        (click)="toggleCollapse()">
        <lucide-icon
          [name]=" this.getIconData('menuOpen')"
          class="md:lg:mr-4 h-6 w-6 text-white"></lucide-icon>
      </button>
    </div>
  </div>

  <ul
    class="list-none p-3 m-0 flex flex-col items-center h-screen-16 cursor-pointer">
    <li class="w-full mb-2.5" *ngFor="let data of sidebarItems">
      <a [routerLink]="[data.path]"
        class="flex items-center h-12 text-gray-100 no-underline transition-all duration-300 ease-in-out">

        <span
          *ngIf="!collapsed"
          class="w-full group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
          <lucide-icon [name]="data.icon"
            class="md:lg:mr-2 h-6 w-6"></lucide-icon>

          <span class="capitalize">{{data.title}}</span>
          <lucide-icon
            [name]="data.icon ?  this.getIconData('chevronDown') :  this.getIconData('chevronRight')"
            (click)="toggleSubMenu(data)"
            class="ml-auto">
          </lucide-icon>

        </span>

        <span
          *ngIf="collapsed"
          class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
          <lucide-icon [name]="data.icon"
            class="md:lg:mr-2 h-6 w-6"></lucide-icon>

        </span>

      

      </a>
    </li>
  </ul>
</div> -->

<div
  class="bg-[#263238] text-white transition-all duration-500 ease-in-out fixed z-10 top-0 lg:w-[15rem] h-screen  sm:md:w-[5rem]"
  [ngClass]="{'lg:w-[15rem]': !collapsed, 'sm:md:w-[5rem]': collapsed}">

  <nav class="grid items-start gap-2 p-3">
    <div
      class="list-none mt-5 ml-3 flex flex-col items-start h-screen-16 cursor-pointer">
      <div
        class="flex h-12 text-gray-100 no-underline transition-all duration-300 ease-in-out">
        <button
          class="w-full min-w-[3rem] rounded-[0.313rem] p-[0.313rem] text-2xl font-black cursor-pointer border-none sm:hidden md:block text-white"
          (click)="toggleCollapse()">
          <lucide-icon
            [name]=" this.getIconData('menuOpen')"
            class="md:lg:mr-2 h-6 w-6 text-white"></lucide-icon>
        </button>
      </div>
    </div>

    <ng-container *ngFor="let item of sidebarItems; let i = index;">
      <div class="text-4xl" *ngIf="!collapsed">
        <span
          class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
          <lucide-icon [name]="item.icon"
            class="md:lg:mr-4 h-6 w-6"></lucide-icon>

          <span class="capitalize">{{item.title}}</span>

          <lucide-icon
            [name]="item.icon ?  this.getIconData('chevronDown') :  this.getIconData('chevronRight')"
            *ngIf="item.children"
            (click)="toggleSubMenu(item)"
            class="ml-auto">
          </lucide-icon>

        </span>
      </div>

      <span
        *ngIf="collapsed"
        class="w-[3rem] group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
        <lucide-icon [name]="item.icon"
          class="md:lg:mr-4 h-6 w-6"></lucide-icon>
      </span>

      <ng-container *ngIf="item.children && item.isExpanded && !collapsed">
        <a [routerLink]="item.path"
          class="text-4xl">
          <span
            class="group flex items-center rounded-md px-6 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent">

            <span class="capitalize">Gestionar {{item.path}}</span>
          </span>
        </a>
        <ul>
          <li *ngFor="let child of item.children">
            <a [routerLink]="child.path"
              class="text-4xl">
              <span
                class="group flex items-center rounded-md px-6 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent">

                <span class="capitalize">{{child.title}}</span>
              </span>
            </a>
          </li>
        </ul>
      </ng-container>
    </ng-container>

    <div class="text-4xl" *ngIf="userLoginOn && !collapsed">
      <a (click)="logout()" routerLink="/inicio"
        class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
        <lucide-icon [name]="this.getIconData('logOut')"
          class="md:lg:mr-4 h-6 w-6"></lucide-icon>

        <span class="capitalize">Cerrar Sesión</span>
      </a>
    </div>

    <div class="text-4xl" *ngIf="userLoginOn && collapsed" >
      <a (click)="logout()" routerLink="/inicio"
        class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground bg-transparent cursor-pointer">
        <lucide-icon [name]="this.getIconData('logOut')"
          class="md:lg:mr-4 h-6 w-6"></lucide-icon>
      </a>
    </div>
    
  </nav>

</div>
