<div class="rounded-md border shadow-xl">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="cargahoraria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Carga Horaria</th>
      <td mat-cell *matCellDef="let row">{{row.cargaHoraria.id}}</td>
    </ng-container>

    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia</th>
      <td mat-cell *matCellDef="let row">{{row.dia.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="hora_inicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de inicio</th>
      <td mat-cell *matCellDef="let row">{{row.hora_inicio}}</td>
    </ng-container>

    <ng-container matColumnDef="hora_fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de fin</th>
      <td mat-cell *matCellDef="let row">{{row.hora_fin}}</td>
    </ng-container>

    <ng-container matColumnDef="aula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aula</th>
      <td mat-cell *matCellDef="let row">{{row.aula.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="grupo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</th>
      <td mat-cell *matCellDef="let row">{{row.grupo.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <div class="flex justify-end px-10 space-x-2">
            <button mat-mini-fab color="primary" (click)="navigateEditarDetalleCargaHoraria(row)">
              <lucide-icon
                [name]=" this.getIconData('edit')"
                class="w-4 h-4">
              </lucide-icon>
            </button>
          <button mat-mini-fab color="accent" (click)="eliminarDetalleCargaHoraria(row)">
            <lucide-icon
              [name]=" this.getIconData('delete') "
              class="w-4 h-4">
            </lucide-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>
</div>
