<div class="min-h-screen">

  <button
    class="absolute left-4 top-4 md:left-8 md:top-8 flex items-center text-xs"
    (click)="volverAtras()">
    <lucide-icon
      [name]=" this.getIconData('chevronLeft')"
      class="w-6 h-6 mr-2">
    </lucide-icon>
    Atras
  </button>

  <div
    class="container flex h-screen w-screen flex-col items-center justify-center">

    <div
      class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[400px] rounded-md border shadow-xl">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Crear modulo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="numero" formControlName="numero">
                  @if (addressForm.controls['numero'].hasError('required')) {
                  <mat-error>Numero del modulo es
                    <strong>requerido</strong></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="ubicacion"
                    formControlName="ubicacion">
                  @if (addressForm.controls['ubicacion'].hasError('required')) {
                  <mat-error>Ubicacion de la carrera es
                    <strong>requerida</strong></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">Guardar
              modulo</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
