<div class="min-h-screen">

  <button
    class="absolute left-4 top-4 md:left-8 md:top-8 flex items-center text-xs"
    (click)="volverAtras()">
    <lucide-icon
      [name]=" this.getIconData('chevronLeft')"
      class="w-6 h-6 mr-2">
    </lucide-icon>
    Atras
  </button>

  <div
    class="container flex h-screen w-screen flex-col items-center justify-center">

    <div
      class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[400px] rounded-md border shadow-xl">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Crear materia</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="nombre" formControlName="nombre">
                  @if (addressForm.controls['nombre'].hasError('required')) {
                  <mat-error>Nombre del la materia es
                    <strong>requerido</strong></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="sigla" formControlName="sigla">
                  @if (addressForm.controls['sigla'].hasError('required')) {
                  <mat-error>Sigla de la materia es
                    <strong>requerido</strong></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Seleccione una carrera</mat-label>
                  <mat-select formControlName="carreraId">
                    <mat-option *ngFor="let carrera of carreras" [value]="carrera.id">
                      <div >
                        <div><b>{{carrera.nombre}}</b></div>
                      </div>
                    </mat-option>
                  </mat-select>
                  @if (addressForm.controls['carreraId'].hasError('required')) {
                    <mat-error>Carrera para la materia es
                      <strong>requerido</strong></mat-error>
                    }
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">Guardar
              materia</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
