<div class="rounded-md border shadow-xl">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row">{{row.apellido}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="nombre_r">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
      <td mat-cell *matCellDef="let row"><ng-container **ngFor="let roles of row.roles; let i = index">
        {{ roles.nombre }}<span **ngIf="i < row.roles.length - 1">, </span>
      </ng-container></td>
    </ng-container> -->

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <div class="flex justify-end px-10 space-x-2">
            <button mat-mini-fab color="primary" (click)="navigateEditarUsuario(row)">
              <lucide-icon
                [name]=" this.getIconData('edit')"
                class="w-4 h-4">
              </lucide-icon>
            </button>
          <button mat-mini-fab color="accent" (click)="eliminarUsuario(row)">
            <lucide-icon
              [name]=" this.getIconData('delete') "
              class="w-4 h-4">
            </lucide-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>
</div>
