<div class="grid items-start gap-8">
  <app-title heading="Carreras" text="Administra las diferentes carreras.">
    <div class="hidden sm:md:lg:block">
      <button mat-flat-button color="accent"
        (click)="navigateCrearCarrera()">Crear carrera</button>
    </div>
  </app-title>

  <div class="sm:md:block lg:hidden px-4">
    <button mat-flat-button class="ml-2 w-full" color="accent"
      (click)="navigateCrearCarrera()">Crear carrera</button>
  </div>

  <div class="flex-1 overflow-hidden overflow-x-auto">
    <div class="container mx-auto md:lg:px-8 px-4">
      <div class="max-w-full overflow-x-auto">
        <app-carrera-datatable />
      </div>
    </div>
  </div>
</div>
